# Python / Backend / Databases
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
.venv/
env/
.env
*.db
*.sqlite3
*.db-shm
*.db-wal
backend/data/uploads/*
!backend/data/uploads/.gitkeep

# Node / Frontend
node_modules/
dist/
!frontend/public/vendor/**/dist/
.next/

# IDE / macOS
.vscode/
.idea/
.DS_Store

# Logs
logs/*
!logs/.gitkeep
